**/bin/
**/.idea/
**/node_modules
**/obj/
**/out/

obj/
bin/

**/docker-compose*
**/Dockerfile*
**/.dockerignore
**/.DS_Store
**/.git
**/.gitignore
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
**/*.cmd
**/*.dbmdl
**/*.DotSettings
**/*.ps1
**/*.trx
**/.settings
**/*.sh
**/*.*proj.user
**/.vs
**/.vscode
NOTICE
COPYRIGHT
LICENSE
README.md
build.sh